:root {
	// default: buyer
	--color--text-primary: #000;
	--color--text-secondary: #868686;

	--color--bg-primary: #ffffff;
	--color--bg-secondary: #f4f4f4;

	--color--border: #b6b6b6;
}

body.dark {
}
